/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');
/* boostrap-reboot.min*/
@import 'libs/bootstrap-reboot.min';


:root {
    --body-font: 'Poppins', sans-serif;
    /*Font weight*/
    --font-regular: 400;
    --font-medium: 500;
    --font-bold: 600;
    
    /*font size */
    /*.5rem = 8px | 1rem = 16px ...*/
    --biggest-font-size: 2rem;
    --h1-font-size: 5.5rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1rem;
    --normal-font-size: .938rem;
    --small-font-size: .813rem;
    --smaller-font-size: .75rem;
    
    /*colors*/
    --first-color: rgb(130, 166, 119);
    --first-color-alt: #C1B198;
    --first-color-lighter: rgb(192, 227, 181);
    --title-color: rgb(45, 46, 50);
    --text-color: #000;
    --text-color-light: rgb(143, 156, 139);
    --input-color: rgb(206, 222, 201);
    --body-color: #f9f9f9;
    --container-color: #fff;
    --scroll-bar-color: rgb(229, 231, 228);
    --scroll-thumb-color: rgb(148, 163, 143);
    
    }   
    


html {
    scroll-behavior: smooth;
}
body {
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    color: var(--title-color);
    background-color: var(--body-color);
}


.container {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 15px;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}
ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}


h1, h2, h3, h4 {
    color: var(--title-color);
    font-weight: var(--font-semi-bold);
  }

@import 'blocks/title';
@import 'blocks/header';
@import 'blocks/home';
@import 'blocks/about';
@import 'blocks/media';
    
