.contact {
    padding: 40px 0;
    &__subtitle {
        margin-top: 40px;
        font-size: 25px;
        color: var(--color-lighter);
    }
    &__wrapper {
        margin-top: 30px;
        display: flex;
        flex-wrap: wrap;
        gap: 50px;
    }
    &__item {
        display: flex;
        align-items: center;
        gap: 10px;
    }
    &__icon {
        svg {
            fill: var(--third-color);
        }
    }
    &__info {
        &-title {
            font-weight: var(--font-bold);
        }
    }
}