.footer {
    width: 100%;
    padding: 30px 0;
    background-color: var(--title-color);
    &__wrapper {
        display: flex;
        justify-content: space-between;
        h4 {
            color: #fff;
            font-size: 20px;
            margin: 0;
        }
    }
    &__icons {
        display: flex;
        gap: 30px;
    }
}