.header {
    padding: 20px 0;
    border-bottom: 1px solid var(--black-color);
    position: fixed;
    width: 100%;
    left: 0;
    z-index: 5;
    background-color: var(--black-color-light);
}

.nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-wrap: wrap;
    &__list {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        gap: 50px;
    }
    &__link {
            color: var(--white-color);
            letter-spacing: 2px;
            font-size: var(--normal-font-size);
            &:hover {
                color: var(--title-color);
            }
            &:after {
                background-color: var(--title-color);
            }
    }
}
