
.nav {
    &__menu {
        position: fixed;
        top: -100%;
        left: 0;
        background-color: var(--body-color);
        width: 100%;
        box-shadow: 0 12px 24px var(--shadow-color);
        padding-block: 5rem 4rem;
        transition: top .4s;
    }
    &__list {
        display: flex;
        flex-direction: column;
        row-gap: 1.5rem;
        text-align: center;
    }
    &__link {
        color: var(--title-color);
        font-size: var(--smaller-font-size);
        transition: color .4s;
        font-weight: var(--font-semi-bold);
        &:hover {
            color: var(--first-color);
        }
    }
    &__close {
        position: absolute;
        top: 1.15rem;
        right: 1.15rem;
    }
}

