/*.header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 5;
    border-bottom: 1px solid var(--text-color);
    background-color: var(--body-color);
    &__btn {
        display: none;
    }
}

.nav {
    position: relative;
    padding: 25px 0;
    display: flex;
    justify-content: space-between;
    gap: 30px;
    &__logo {
        font-size: var(--h3-font-size);
        a {
            color: var(--text-color);
        }
    }
    &__list {
        display: flex;
        justify-content: space-between;
        gap: 30px;
        margin-left: auto;
    }
    &__item {
        position: relative;
    }
    &__link {
        position: relative;
        color: var(--text-color);
        transition: color .3s;
        font-weight: var(--font-medium);
        font-size: var(--h3-font-size);
        &:hover {
            text-decoration: none;
            color: var(--third-color);
            color: #0e6fde;
        }
        &:after {
            content: '';
            position: absolute;
            width: 0;
            height: 2px;
            background-color: var(--title-color);
            left: 0;
            bottom: -.5rem;
            transition: width .3s;
        }
        &-active {
            &:after {
                width: 75%;
            }
        }
    }
    &__btns {
        position: relative;
        display: flex;
        &-hamburger {
            position: relative;
            display: none;
            width: 25px;
            height: 21px;
            cursor: pointer;
            &::before, &::after {
                content: '';
                position: absolute;
                background-color: var(--text-color);
                width: 25px;
                height: 2px;
                transition: .6s ease;
            }
            &::before {
                top: 0;
            }
        
            &::after {
                bottom: 0;
            }
            span {
                display: block;
                position: absolute;
                top: 9px;
                width: 25px;
                height: 2px;
                background-color: var(--text-color);
            }
        }
        &-theme {
            z-index: 10;
            width: 21px;
            cursor: pointer;
            svg {
                fill: var(--text-color);
                &:hover {
                    fill: var(--third-color);
                }
            }
        }
    }
}
*/


//в хедере лучше задать паддинги и width 100% вместо высоты и лефт райт 
.header {
    position: fixed; 
    z-index: 2;
    top: 0px;
    width: 100%;
    padding: 30px 0;
    background-color: #fff;;
    font-family: var(--rufina-font);
    &:after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 1px;
        background-color: #656464;
    }
    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}
.logo {
    color: var(--black-color);
    &:hover {
        text-decoration: none;
        color: var(--hover-color);
    }
}

.nav {
    &__list {
        display: flex;
        gap: 30px;
        
    }
    &__item {
        
    }
    &__link {
        position: relative;
        color: var(--black-color);
        &::before {
            content: '';
            position: absolute;
            width: 80%;
            height: 2px;
            border-radius: 4px;
            background-color: var(--hover-color);
            bottom: -5px;
            left: 0;
            transform-origin: right;
            transform: scaleX(0);
            transition: transform .3s ease-in-out;
        }
        &:hover{
            color: var(--hover-color);
            text-decoration: none;
            &::before {
                transform-origin: left;
                transform: scaleX(1);  
            }
        }
        &-active {
            color: var(--hover-color);
        }
    }
}

