.home {
    padding-top: 100px;
    &__wrapper {
        display: grid;
        grid-template-columns: repeat(2, 460px);
        gap: 2rem 4rem;
        align-items: center;
    }
    &__perfil {
        grid-column: 1 / 2;
        grid-row: 1 / 3;
    }
    &__name {
        font-size: var(--biggest-font-size);
        align-self: flex-end;
        
    }
    &__image {
        width: 350px;
        img {
            height: 350px;
            
        }
    }
    &__shadow {
        right: -1.25rem;
        bottom: -1.25rem;
        border: 6px solid var(--black-color);
    }
    &__info {
        align-self: flex-start;
    }
    &__descr {
        position: relative;
        font-size: var(--h2-font-size);
        margin-bottom: 5.5rem;
        padding-left: 3rem;
        &:after {
            content: '';
            width: 32px;
            height: 2px;
            background-color: var(--title-color);
            position: absolute;
            left: 0;
            top: 14px;

        }
    }

} 