.home {
    position: relative;
    height: 100vh;
    overflow: hidden;
    font-family: var(--rufina-font);
    &::before {
        content: "";
        position: absolute;
        top: 83px;
        width: 443px;
        height: 261px;
        background: url('../img/star.svg') no-repeat center / cover;
    }
    &__wrapper {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        margin-top: 150px;
    }
    &__photo {
        width: 350px;
        height: 400px;
    }
    &__img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius:30% 70% 59% 41% / 39% 38% 62% 61%;
    }
    &__content {
        flex-basis: 425px;
    }
    &__title {
        width: 382px;
        font-size: 64px;
        line-height: 90px;
        font-weight: var(--font-bold);
        color: var(--black-color);
    }
    &__highlight {
        display: block;
        font-size: 48px;
        color: var(--grey-color);
    }
    &__social {
        position: relative;
        display: flex;
        justify-content: center;
        gap: 20px;
        &::after {
            content: '';
            position: absolute;
            bottom: -10px;
            left: 0;
            width: 100%;
            height: 1px;
            background-color: var(--grey-color);
        }
        &-link {
            svg {
                transition: 0.6s ease;
                &:hover {
                    fill: var(--hover-color);
                }
            }
        }
    }
    &__skills {
        display: flex;
        align-items: center;
        gap: 90px;
        margin-top: 60px;
        &-title {
            position: relative;
            color: var(--black-color);
            font-weight: var(--font-bold);
            &::before {
                content: '';
                position: absolute;
                right: -50px;
                top: 50%;
                width: 40px;
                height: 1px;
                background-color: var(--grey-color);
                transform: rotate(90deg);
            }
        }
        &-list {
            display: flex;
            gap: 10px;
        }
        &-item {
            width: 50px;
            height: 50px;
            transition: 1s ease;
            &:hover {
                transform: scale(1.1);
                transform: translateY(-5px);
                filter: drop-shadow(5px 5px 10px #5f5046);
            }
        }
    }
}