.home {
    height: 100vh;
    padding-top: 15%;
    &__wrapper {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        position: relative;

    }
    &__info {
        flex-basis: 600px;
        margin-top: 50px;
        h1 {
            font-size: 50px;
            font-weight: var(--font-bold);
            color: var(--title-color);
            line-height: 60px;
            text-align: center;
        }
        p {
            font-size: 18px;
            margin-top: 30px;
        }
    }
    &__img {
        width: 350px;
        height: 400px;
        img {
            border-radius:30% 70% 59% 41% / 39% 38% 62% 61%;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    &__social {
        position: relative;
        display: flex;
        justify-content: center;
        gap: 20px;
        &-link {
            svg {
                fill: var(--title-color);
                &:hover {
                    fill: var(--third-color);
                }
            }
        }
        img {
            width: 25px;
        }
        &:after {
            content: '';
            width: 50%;
            height: 1px;
            background-color: grey;
            position: absolute;
            bottom: -30px;
        }

    }
    &__skillset {
        display: flex;
        align-items: center;
        margin-top: 30px;
        &-icons {
            display: flex;
            align-items: center;
            margin-left: 40px;
            gap: 5px;
            li {
                display: flex;
                align-items: center;
                justify-content: center;
                height: 60px;
                width: 70px;
                transition: 1s ease;
                &:hover {
                    //transform: scale(1.1);
                    transform: translateY(-5px);
                    filter: drop-shadow(5px 5px 10px #5f5046);
                }
                img {
                    height: 100%;
                    width: 100%;
                    
                }
            }
        }
        span {
            font-weight: var(--font-bold);
            padding-right: 30px;
            border-right: 2px solid rgba(45,46,50,.5);
            font-size: var(--h3-font-size);
            color: var(--title-color);
        }

    }

}