@media (max-width: 1200px) {
    .container {
        max-width: 960px;
    }
    .home {
        &__img {
            width: 330px;
            height: 380px;
        }
    }
}

@media (max-width: 992px) {
    .container {
        max-width: 720px;
    }
    .home {
        &__wrapper {
           flex-direction: column;
           justify-content: center;
           align-items: center;
        }
        &__img {
            height: 350px;
            order: 1;
        }
        &__info {
            flex-basis: auto;
            order: 2;
        }
        &__skillset {
            flex-direction: column;
            gap: 30px;
            margin-top: 45px;
            span {
                border-right: none;
                padding: 0 0 10px 0;
                border-bottom: 2px solid rgba(45,46,50,.5);
            }
            &-icons {
                gap: 20px;
                li {
                    width: 50px;
                }
            }
        }
    }
    .about {
        &__wrapper {
            grid-template-columns: 1fr;
        }
        &__image {
            img {
                width: 80%;
                margin: 0 auto;
            }
        }
    }
}

@media (max-width: 768px) {
    .container {
        max-width: 540px;
    }

    .nav {
        &__list {
            position: fixed;
            left: 0;
            right: 0;
            top: -100%;
            flex-direction: column;
            align-items: center;
            z-index: 10;
            width: 100%;
            padding: 20% 0 20%;
            background-color: var(--body-color);
            transition: 1s ease;
            &-active {
                top: 0;
            }
        }
        &__btns {
            &-hamburger {
                display: inline-block;
                z-index: 10;
                margin-left: 20px;
                transition: 1s ease;
                &-active {
                    &::before {
                        transform: translateY(10px) rotate(45deg);
                    }
                    &::after {
                        transform: translateY(-9px) rotate(-45deg);
                    }
                    span {
                        display: none;
                    }
                }
            }
        }
    }

    .home {
        &__info {
            h1 {
                font-size: 36px;
            }
        }
        &__skillset {
            &-icons {
                margin: 0;
            }
        }
    }
    .about {
        &__wrapper {
            grid-template-rows: auto;
            row-gap: 30px;
        }
        &__image {
            height: 300px;
        }
    }


}

@media (max-width: 576px) {
    .container {
        max-width: 100%;
    }

    .home {
        &__wrapper {
            padding-top: 20%;
        }
        &__img {
            width: 295px;
            height: 310px;
        }
        &__info {
            h1 {
                font-size: 20px;
                line-height: 45px;
            }
            p {
                font-size: 16px;
                margin: 30px 0 30px;
            }
        }
    }
    .about {
        padding-top: 8rem;
        &__image {
            height: 180px;
        }
    }

}