.about {
    padding: 100px 0 60px;
    @include tablet {
        padding: 90px 0 60px;
    }
    @include mobile {
        padding: 75px 0 55px;
    }
    &__content {
        position: relative;
        margin-left: calc((1100px - 360px) / 2);
        @include tablet {
            margin-left: 50%;
        }
        @include mobile {
            z-index: 1;
            margin-left: auto;
        }
        &::before {
            content: '';
            background: url('./../../img/about/about_instax.png') no-repeat center/ cover;
            position: absolute;
            display: block;
            top: 70px;
            left: -490px;
            width: 425px;
            height: 470px;
            @include desktop {
                left: -460px;
            }
            @include small-tablet {
                left: -440px;
            }
            @include mobile {
                width: 300px;
                height: 300px;
                left: auto;
                right: -10px;
                top: -42px;
                z-index: -1;
                opacity: 0.6;
                
            }
            @include small-mobile {
                top: -70px;
            }
        }

    }
    &__subtitle {
        font-size: 24px;
        color: var(--primary);
        font-weight: 600;
        margin-top: 60px;
        @include tablet {
            font-size: 22px;
        }
        @include mobile {
            font-size: 18px;
        }
        @include small-mobile {
            font-size: 16px;
        }
    }
    &__text {
        margin-top: 30px;
        line-height: 25px;
        font-weight: 600;
    }
    &__languages {
        margin-top: 30px;
        &-title {
            padding-bottom: 15px;
            font-size: 20px;
            color: var(--primary);
            font-weight: 500;
            @include mobile {
                font-size: 18px;
            }
            @include small-mobile {
                font-size: 16px;
            }
        }
        &-list {
            display: flex;
            flex-direction: column;
            gap: 5px;
            font-size: 14px;
            font-weight: 600;
        }
    }
    &__more {
        position: relative;
        text-align: right;
        margin-top: 50px;
        @include laptop {
            padding-right: 40px;
        }
        @include small-mobile {
            padding-right: 0;
        }
        &::before {
            position: absolute;
            content: '';
            top: -34px;
            right: -60px;
            background: url('./../../img/about/about_arrow.svg') no-repeat center / cover;
            width: 740px;
            height: 210px;
            z-index: -1;
            @include laptop {
                top: -30px;
                width: 640px;
                right: 0px;
                height: 183px;

            }
            @include tablet {
                top: -27px;
                width: 585px;
                height: 165px;
            }
            @include small-tablet {
                width: 520px;
                height: 148px;
                top: -25px;
            }
            @include mobile {
                width: 440px;
                height: 125px;
                top: -23px;
            }
            @include small-mobile {
                right: -15px;
                width: 292px;
                height: 84px;
                top: -14px;
            }
        }

        
    }

}