.about {
    padding-top: 40px;
    &__content {
        position: relative;
        margin-left: calc((1100px - 360px) / 2);
        &::before {
            content: '';
            background: url('./../../img/about/about_instax.png') no-repeat center/ cover;
            position: absolute;
            display: block;
            top: 70px;
            left: -490px;
            width: 425px;
            height: 470px;
        }
    }
    &__subtitle {
        font-size: 24px;
        color: var(--primary);
        font-weight: 600;
        margin-top: 60px;
    }
    &__text {
        margin-top: 30px;
        line-height: 25px;
        font-weight: 600;
    }
    &__languages {
        margin-top: 30px;
        &-title {
            padding-bottom: 15px;
            font-size: 20px;
            color: var(--primary);
            font-weight: 500;
        }
        &-list {
            display: flex;
            flex-direction: column;
            gap: 5px;
            font-size: 14px;
            font-weight: 600;
        }
    }
    &__more {
        margin-top: 50px;
        text-align: right;
        position: relative;
        &::before {
            position: absolute;
            content: '';
            top: -34px;
            left: 0;
            background: url('./../../img/about/about_arrow.svg') no-repeat center / cover;
            width: 740px;
            height: 210px;
            transform: translateX(55%);
        }
        
    }
}