.contact {
    padding: 90px 0 50px;
    &__title {
        text-transform: none;
    }
    &__wrapper {
        margin-top: 50px;
        display: flex;
        gap: 100px;
    }
    &__info {
        position: relative;
        display: flex;
        gap: 10px;
        &:first-child {
            &::before {
                content: '';
                background: url('../img/contactimg.svg') no-repeat center / cover;
                width: 217px;
                height: 80px;
                position: absolute;
                top: -50%;
                left: -30px;
            }

        }
    }
    &__header {
        font-size: 18px;
    }
    &__details {
        font-size: 14px;
        margin-top: 5px;
    }
}