
.header {
    position: fixed; 
    z-index: 2;
    top: 0px;
    width: 100%;
    padding: 30px 0;
    font-family: var(--font-main);
    background-color: var(--page-bg);
    @include tablet {
        padding: 25px 0;
    }
    @include mobile {
        padding: 15px 0;
    }
    &:after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 1px;
        background-color: var(--text-color);
    }
    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__logo {
        font-family: var(--font-accent);
        font-size: 32px;
        color: var(--accent);
        @include tablet {
            font-size: 26px;
        }
        @include mobile {
            font-size: 22px;
            z-index: 5;
        }
        @include small-mobile {
            font-size: 18px;
        }
        &:hover {
            text-decoration: none;
        }
    }

    &__nav {
        font-size: 16px;
        &-list {
            display: flex;
            gap: 30px;
            transition: 0.6s ease;
            @include mobile {
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                text-align: center;
                height: 50vh;
                transform: translateY(-100%);
                z-index: 4;
                background-color: #fff;
                opacity: 0;
                &_mobile {
                    opacity: 1;
                    transform: translateY(0); 
                }

            }

        }
        &-item {
            @include mobile {
                width: 100%;
            }
        }
        &-link {
            position: relative;
            color: var(--text-color);
            @include mobile {
                color: var(--title-color);
                display: block;
                width: 100%;
            }
            &::before {
                content: '';
                position: absolute;
                width: 80%;
                height: 2px;
                border-radius: 4px;
                background-color: var(--primary);
                bottom: -5px;
                left: 0;
                transform-origin: right;
                transform: scaleX(0);
                transition: transform .3s ease-in-out;
                @include mobile {
                    display: none;
                }
            }
            &:hover{
                color: var(--title-color);
                text-decoration: none;
                &::before {
                    transform-origin: left;
                    transform: scaleX(1);  
                }
            }
            &--active {
                color: var(--primary);
            }
        }
    }
    
    &__button {
        position: relative;
        display: none;
        width: 25px;
        height: 16px;
        cursor: pointer;
        z-index: 5;
        @include mobile {
            display: inline-block;
        }
        & span {
            position: absolute;
            top: 50%;
            left: 0;
            right: 0;
            width: 100%;
            height: 2px;
            background-color: var(--text-color);
            transform:translateY(-50%);
        }
        &:before,
        &:after {
            content: '';
            position: absolute;
            transition: all 0.4s ease 0s;
            width: 100%;
            height: 2px;
            background-color: var(--text-color);
            left: 0;
            right: 0;
        }
        &::before {
            top: 0;

        }
        &::after {
            bottom: 0;

        }
        &-active {
            &::before {
                transform: rotate(45deg);
                top: 9px;
            }
            &::after {
                transform: rotate(-45deg);
                bottom: 9px;
            }
            span {
                display: none;
            }

        }
    }
} 



