
//в хедере лучше задать паддинги и width 100% вместо высоты и лефт райт 
.header {
    position: fixed; 
    z-index: 2;
    top: 0px;
    width: 100%;
    padding: 30px 0;
    font-family: var(--font-main);
    background-color: var(--page-bg);
    &:after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 1px;
        background-color: var(--accent);
    }
    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__logo {
        font-family: var(--font-accent);
        font-size: 32px;
        color: var(--accent);
        &:hover {
            text-decoration: none;
        }
    }
    &__nav {
        &-list {
            display: flex;
            gap: 30px;
        }
        &-link {
            position: relative;
            color: var(--text-color);
            &::before {
                content: '';
                position: absolute;
                width: 80%;
                height: 2px;
                border-radius: 4px;
                background-color: var(--primary);
                bottom: -5px;
                left: 0;
                transform-origin: right;
                transform: scaleX(0);
                transition: transform .3s ease-in-out;
            }
            &:hover{
                color: var(--title-color);
                text-decoration: none;
                &::before {
                    transform-origin: left;
                    transform: scaleX(1);  
                }
            }
            &--active {
                color: var(--primary);
            }
        }
    }
}



