.home {
    position: relative;
    font-family: var(--font-accent);
    padding-top: 150px;
    @include mobile {
        padding-top: 95px;
    }
    &::before {
        content: "";
        position: absolute;
        top: 45px;
        width: 600px;
        height: 350px;
        background: url('./../../img/home/home_star.svg') no-repeat center / cover;
        @include laptop {
            width: 460px;
            height: 300px;
        }
        @include tablet {
            top: 35px;
            width: 350px;
            height: 240px;
        }
        @include mobile {
            display: none;
        }
        
    }
    &__wrapper {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        @include mobile {
            flex-direction: column;
            gap: 35px;
            align-items: center;
        }
    }
    &__column {
        @include mobile {
            width: 100%;
            order: 2;
            &:last-child {
                order: 1;
            }
        }
    }
    &__photo {
        width: 385px;
        height: 500px;
        @include laptop {
            width: 365px;
            height: 450px;
        }
        @include tablet {
            width: 320px;
            height: 400px;
        }
        @include small-tablet {
            width: 280px;
            height: 360px;
        }
        @include mobile {
            width: 275px;
            height: 325px;
            margin: 0 auto;
        }
        @include small-mobile {
            width: 255px;
            height: 290px;
        }
    }
    &__img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 12px;
        @include mobile {
            border-radius: 8px;
        }
    }
    &__title {
        position: relative;
        width: 575px;
        font-size: 140px;
        font-family: var(--font-accent);
        color: var(--title-color);
        @include laptop {
            font-size: 115px;
            width: 520px;
        }
        @include tablet {
            font-size: 100px;
            width: 430px;
        }
        @include small-tablet {
            font-size: 95px;
            width: 410px;
        }
        @include mobile {
            font-size: 62px;
            width: 100%;
            text-align: center;
            line-height: 1.2;
        }
        @include small-mobile {
            font-size: 46px;
        }
        &-highlight {
            display: block;
            text-align:right;
            font-size: 80px;
            line-height: 1.5;
            color: var(--primary);
            @include laptop {
                font-size: 72px;

            }
            @include tablet {
                font-size: 60px;
            }
            @include small-tablet {
                font-size: 54px;
            }

            @include mobile {
                font-size: 40px;
                line-height: 1.5;
                text-align: center;
            }

            @include small-mobile {
                font-size: 30px;
            }
        }
        &::after {
            content: '';
            position: absolute;
            bottom: -35px;
            left: 0;
            width: 50%;
            height: 1px;
            background-color: var(--accent);
            @include small-mobile {
                width: 65%;
            }
        }
    }
    &__social {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        gap: 20px;
        margin-top: 30px;
        @include mobile {
            justify-content: center;
        }
    }
    &__skills {
        display: flex;
        flex-direction: column;
        margin-top: 60px;
        font-family: var(--font-accent);
        color: var(--title-color);
        font-size: 24px;
        line-height: 1.5;
        @include tablet {
            font-size: 22px;
        }
        @include mobile {
            font-size: 18px;
        }
    }
}